body {
  margin-left: 1px;
  margin-right: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #6DCCAA;
}

.topnav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#carouselExampleIndicators .carousel-inner .carousel-item img{
    height: 350px;
    width:100%;
}

.carousel-caption {
    display:table-cell;
    vertical-align: center;
    height: 80px;
    color: #000000;
    font-weight: bold;
    background: rgba(248, 248, 248, 0.4);

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #6DCCAA;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #6DCCAA;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom:-50px;
}

.botNav {
  overflow: hidden;
  background-color: #6DCCAA;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.botNav .texto {
  color: white;
  font-weight: bold;
}

.botNav .numero {
  color: white;
  font-weight: bold;
}


.botNav .icons i {
  border: 1px solid white;
  border-radius: 64px;
  background: white;
  padding: 10px;
}

.rescate hr {
  margin-right:0;
}

.crowFounding hr {
  margin-left:0;
}

.iconSmall {
  margin: auto;
  width: 50%;
}

hr {
  height: 1px;
  width: 10%;
  background-color: black;
}

.crowFounding img {
  width: 350px;
  height: 220px;
}

.botonCampania {
  background-color: white;
  color: black;
  border: 3px solid;
  font-weight: bold;
}


.filaGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #6DCCAA;
}

.columnaGrid {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.columnaGrid img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
}

@media screen and (max-width: 600px) {
  .columnaGrid {
      -ms-flex: 50%;
      flex: 10%;
      max-width: 50%;
  }
}
